.Rproj.user
.Rhistory
.RData
.Ruserdata
Input/Batch/*
Input/Individual/*
Output/Data/*
Output/PNGs/*
Output/SVGs/*
!Input/Batch/**/
!Input/Individual/**/
!Output/Data/**/
!Output/PNGs/**/
!Output/SVGs/**/